.table {
    height: 100vh;
    width: 100vw;
    font-family: 'Arimo';
    text-transform: uppercase;        
}

table {
    border: 24px solid rgb(61, 72, 98);
    border-collapse: collapse;
}

tr {
    height: 35px;
}

tr:last-child {
    height: 80px;
}

tr:nth-child(even) {
    background-color:  #e3e3e3;
}

tr:nth-child(odd) {
    background-color:  #f2f2f2;
}

th, td {
    vertical-align: middle;
    text-align: center;
    box-shadow: inset -4px 0 4px -2px rgba(0,0,0,0.30);
    color:  #484848;
}

td {
    font-size: 16px;
}

.header-style {
    color:  #ffffff;
    font-weight: 700;
    text-align: center;
}

.header-standard {
    background-color: #89c331;
    font-size: 24px;
}   
    
.header-ultimate {
    font-size: 30px;
    background-color:  #f04a56;
}

.header-premium{
    background-color:  #20807c;
    font-size: 24px;
}

.header-price, .price-cell {
    background-color:  #fafafa;
    color:  #484848;
    font-weight: 700;
    line-height: 28px;
}

.price-cell {
    height: 44px;
}

.header-price-1 {
    font-size: 18px;
}

.header-price-2 {
    font-size: 30px;
}

.price {
    display: flex;
    background-color: transparent;
    justify-content: center;
}

.dollars {
    font-size: 60px;
    display: flex;
    align-items: center;
    
}

.cents {
    font-size: 24px;
    line-height: 24px;
    text-align: left;
}

.per-month {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400
}    

.f-awesome {
    margin-right: 10px;
}

.button-general {
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    width: 192px;
    height: 49px;
    display: block;
    margin: auto;
    border: none;
    border-bottom-style:  none;
    font-family: Arimo;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    padding-top: 10px;
}

.button-general:hover {
    transition: all 0.3s;
    transform: translateY(5px);
}

.contact-us-button{
    background-color:  #484848;
    box-shadow: 0px 7px 0px 0px rgba(64,64,64,1);
}

.buy-now-button1{
    background-color:  #89c331;
    box-shadow: 0px 7px 0px 0px rgba(121,176,39,1);
}

.buy-now-button2{
    background-color:  #f04a56;
    box-shadow: 0px 7px 0px 0px rgba(223,58,70,1);
}

.buy-now-button3{
    background-color:  #20807c;
    box-shadow: 0px 7px 0px 0px rgba(22,115,111,1);
}

.button-hover:hover {
    background-color: #dbdbdb;
    transition: all 0.3s;
}
